.center {
  text-align: center;
  justify-content: center;
  display: flex;

  align-self: center;
}
input {
  text-align: center;
}
h2,
h4 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.inputBox {
  border-style: solid;
}
.panel {
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
  border: 1px solid #ddd;
}
h5 {
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#status {
  font-size: 20px;
}
